.header{
  background-color: var(--accent-bg);
  overflow: auto;
  padding: 1rem;
  margin: -16px;
  margin-right: -8px;
  display: flex;

  .navbar{
    width: 100%;
    display: flex;
    padding: 0 40px;
    align-items: center;
  }

  .logo{
    font-size: 2rem;
    text-decoration: none;
  }

  .nav-links{
    display: flex;
    list-style: none;
  }

  .dropdows {
    position: relative;
  }

  .nav-button{
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 12px 20px;
    transition: background .5s;
    text-decoration: none;
    color: var(--accent);
  }

  .nav-button:hover{
    border-radius: 3px;
    background-color: var(--bg);
  }

  .dropdown-menu{
    background-color: var(--accent-bg);
    color: var(--accent);

    position: absolute;

    min-width: 180px;

    list-style: none;

    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px, 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .dropdown-menu li a {
    color: var(--accent);
    display: block;
    padding: 16px;
    text-decoration: none;
    transition: background .5s;
  }

  @media (max-width: 768px){
    .header{
      padding: 0 20px;
    }

    .nav-links{
      gap: 10px;
    }

    .navbar{
      justify-content: center;
    }

    .nav-button{
      padding: 10px;
      font-size: 1rem;
    }

    .dropdown-menu{
      min-width: 150px;
    }
  }
}

.content{
  padding-top: 64px;
  margin: 0 auto;
  width: clamp(320px, 85%, 1024px);

  ul{
    list-style: none;

    a{
      color: var(--text);
      text-decoration: none;
    }
  }
}

.footer{
  position: fixed;
  display: block;
  bottom: 0;
  background-color: var(--accent-bg);
  border: 32px;
  width: 100%;
  margin-left: -8px;
  padding-right: 8px;

  .footer-item{
    color: var(--accent);
    border: 16px;
    text-decoration: none;
    text-align: center;
    padding-left: 16px;
  }
}